<%= form_for current_user, :html => {:multipart => true} do |f| %>
<div>
	<%= image_tag(current_user.avatar_url(:avatar).to_s) if current_user.avatar? %>
	<%= f.file_field :avatar %>
</div>
<div>
	<%= f.label '用户名：' %>
	<%= f.text_field :username %>
</div>
<div>
	<%= f.label '邮箱：' %>
	<%= f.text_field :email %>
</div>
<div>
	<%= f.label '城市' %>
	<%= f.text_field :city %>
</div>
<%= f.submit '保存', class: 'btn btn-primary' %>
<% end %>