<% provide(:title, "途趣网 | #{@user.name}") %>
<div class="user row-fluid">
	<div id='user_info' class="span4">
		<%= link_to @user, class: 'brand avatar' do %>
		<%= image_tag @user.avatar if @user.avatar?%>
		<% end %>
		<h1><%= @user.name %></h1>
		<p><%= @user.description %></p>
		<p><%= @user.location %></p>
	</div>
	<div id="user_journals" class="span8">
		<ul class="journals">
			<%= render @journals %>
		</ul>
	</div>
</div>
