<div class="sign">
	<h2>登录</h2>

	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	<div>
		<%= f.label '邮 箱：' %>
		<%= f.text_field :login, :autofocus => true, placeholder: '邮箱/昵称' %>
	</div>
	<div>
		<%= f.label '密 码：' %>
		<%= f.password_field :password, placeholder: '密码至少六位' %>
	</div>
	<div class="action">
		<span><%= f.check_box :remember_me %> <%= f.label '记住我' %></span>
		<span><%= f.submit "登录", class: "btn btn-primary btn-large" %></span>
	</div>
	<% end %>
</div>


<script type="text/javascript">
$(function(){
		$("form").validate();
})
</script>

