<li class='row-fluid journal_part'>
	<div id="journal_picture" class='span4'>
		<% if journal.pictures.first %>
		<% cover_image = journal.pictures.first.image  %>
		<%= link_to image_tag(cover_image.little.url), journal %>
		<% end %>
	</div>
	<div id="journal_content" class='span8'>
		<h1 class="title"><%= link_to journal.title, journal %></h1>
		<p class="content"><%= raw journal.content[0, 240] %>...</p>
		<div class="info">
			<% user = User.find(journal.user_id) %>
			<%= journal.updated_at %> by 
			<%= link_to user.username, user %>
			<%= link_to "阅读", journal_path(journal) %>
			<% if current_user and current_user.has_role? :admin, journal %>
			<%= link_to "编辑", edit_journal_path(journal) %>
			<% link_to '删除', journal_path(journal), method: :delete %>
			<% end %>
		</div>
	</div>
</li>
