<% provide(:title, "途趣网 | #{@journal.user.username}'s journal") %>
<div class='row-fluid journal_all'>
	<div id="journal_pictures" class='span4'>
		<% if @pictures == [] %>
			<%= image_tag @journal.cover_image %>
		<% else %>
			<% for pic in @pictures %>
			<%= image_tag pic.image.url %>
			<% end %>
		<% end %>
	</div>
	<div id="journal_content" class='span8'>
		<h1 class="title"><%= link_to @journal.title, @journal %></h1>
		<div class="info">
			<%= @journal.updated_at %> by 
			<%= link_to @journal.user.username, @journal.user %>
			<% if current_user and current_user.has_role? :admin, @journal %>
			<%= link_to "编辑", edit_journal_path(@journal) %>
			<%= link_to '删除', journal_path(@journal), method: :delete %>
			<% end %>
			<%= social_share_button_tag(@journal.title) %>
		</div>
		<hr>
		<p class="content"><%= raw @journal.content %></p>
	</div>
</div>
