<!DOCTYPE html>
<html>
<head>
	<title><%= yield(:title) %></title>
	<meta property="wb:webmaster" content="d0917bd059a3cbb6" />
	<%= javascript_include_tag "application" %>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header' %>
	<div id="container">
		<%= yield %>
	</div>
	<%= render 'layouts/footer' %>
</body>
</html>
